/* Write your CSS here */

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  height: 40px;
}

.title {
  font-size: 20px;
  padding: 10px;
  width: 600px;
}
.del-btn {
  border: 1px solid #ff0b37;
  background: transparent;
  color: #ff0b37;
  height: 20px;
  width: 80px;
}
